{{> navbar }}

<!-- whole screen -->
<div class="container mb-5">
    <div class="row">
        <!-- establishment card -->
        {{#with selectedEstab}}
        <div class="col-lg-5">
            <div class="card mt-5">
                <img class="card-img-top" src="{{{profilePicture}}}" alt="">
                <div class="card-body">
                    <div class="flex-center justify-content-between">
                        <div>
                            <h2 class="card-title estabNamez">{{{displayedName}}}</h2>
                            <p class="address">{{{address}}}</p>
                        </div>
                        <span class="card-text ratingDiv">
                            <h5 class="d-inline-block">
                                <span class="ratingz">{{{rating}}}</span>
                                <meter class="average-rating" min="0" max="5" style="--percent: {{starr rating}}%"></meter>
                            </h5>
                        </span>
                    </div>
                    <p class="card-text">{{{description}}}</p>
                </div>
            </div>
        {{/with}}
            <div class="card mt-3">
            {{#with rateSummary}}
            <div class="card-body">
                <h6 class="card-title reviewTitle ms-3 mb-2">Rating Summary <span class="fw-light">&nbsp;&nbsp;|&nbsp;&nbsp;{{{nReviews}}} reviews</span></h6> 
                    <div class="flex-center justify-content-between mx-3">
                    <div class="card-text fw-2">5</div>
                    <div class="progress">
                    <div style="width: {{fiveRev}}%" class="progress-bar bg-success" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div></div><div class="flex-center justify-content-between mx-3">
                    <div class="card-text fw-2">4</div>
                    <div class="progress">
                    <div style="width: {{fourRev}}%" class="progress-bar bg-success" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div></div><div class="flex-center justify-content-between mx-3">
                    <div class="card-text fw-2">3</div>
                    <div class="progress">
                    <div style="width: {{threeRev}}%" class="progress-bar bg-success" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div></div><div class="flex-center justify-content-between mx-3">
                    <div class="card-text fw-2">2</div>
                    <div class="progress">
                    <div style="width: {{twoRev}}%" class="progress-bar bg-success" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div></div><div class="flex-center justify-content-between mx-3">
                    <div class="card-text fw-2">1</div>
                    <div class="progress">
                    <div style="width: {{oneRev}}%" class="progress-bar bg-success" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div></div>
            </div></div> {{/with}}
        </div>

        <!-- everything else -->
        <div class="col ms-4 mt-5">
                {{hey @root.user._id}}
            <!-- rate form -->
             {{#unless isEstab}}
             {{#if @root.user}}
            <div class="row collapse {{#unless userReview}}show{{/unless}} revForm">
                <form action="/{{selectedEstab.username}}/" id="reviewForm" name="reviewForm" enctype="multipart/form-data" name="reviewForm" method="post">
                    <div class="form-group">
                        <p class="rateEstabText">Rate this establishment</p>
                        <div class="rate">
                            <input {{check userReview.rating 5}} required type="radio" id="star5" name="rate" value="5" /><label for="star5"
                                title="text" >5 stars</label>
                            <input {{check userReview.rating 4}} required type="radio" id="star4" name="rate" value="4" /><label for="star4"
                                title="text">4 stars</label>
                            <input {{check userReview.rating 3}} required type="radio" id="star3" name="rate" value="3" /><label for="star3"
                                title="text">3 stars</label>
                            <input {{check userReview.rating 2}} required type="radio" id="star2" name="rate" value="2" /><label for="star2"
                                title="text">2 stars</label>
                            <input {{check userReview.rating 1}} required type="radio" id="star1" name="rate" value="1" /><label for="star1"
                                title="text">1 star</label>
                        </div>
                        <label for="c00000xxtext" class="form-label writeRevText">Write a Review</label>
                        <input type="hidden" name="estabID" value="{{selectedEstab._id}}" />
                        <input type="hidden" name="reviewID" value="{{userReview._id}}" />
                        <input placeholder="Title" name="title" type="title" class="form-control fw-light" id="title"
                            required value="{{userReview.title}}"/>
                        <textarea class="form-control fw-light " id="{{selectedEstab.username}}text" rows="3" name="content"
                            placeholder="Describe your experience (required) " required>{{userReview.content}}</textarea>
                        <div class="flex-center postRevDiv">
                            <a data-bs-toggle="modal" data-bs-target=".IMGFILES" class="seeAttach ">see attached
                                files</a>
                            <label class=" form-label img imgbg" for="mediaInput"></label>
                            <input type="file" accept="media_type" class="form-control d-none" name="mediaInput" id="mediaInput"
                                name="media" multiple />
                            <button type="submit" class="postReview btn btn-success">Post</button>
                        </div>
                    </div>
                </form>
            </div>
            {{/if}}

            <div class="modal IMGFILES">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="btn-close btn-close-success me-2" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="filelist">
                                {{#each userReview.videos}}
                                <li><p>{{filename this}}</p><p></p></li>
                                {{/each}}
                                {{#each userReview.images}}
                                <li><p>{{filename this}}</p><p></p></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- form submitted injected here -->
            <div class="row yourReview collapse show">{{#if userReview}}{{> review userReview}}{{/if}}</div>
             {{/unless}}
            <p class="fw-light mb-2">Top Reviews</p>

            <!-- Top Reviews / one row per review-->
            {{#if topReviews}}
            {{#each topReviews}}
            {{> review this}}
            {{/each}}

            <!-- Truncated reviews -->
            {{#if truncatedReviews}}
                    <div class="row mb-3">
                        <button class="moreRev moreRevText">see more</button>
                    </div>
                    <div class="row moreRev collapse">
                    {{#each truncatedReviews}}
                    {{> review this}}
                    {{/each}}
                    </div>
                {{/if}}
            {{else}}
                <p class="fw-light flex-center flex-center justify-content-center pt-5 mt-5">. . . . . . . . . . . . . . . . .. .. ...WOah! such Empy... .. .. . . . . . . . . . . . . . . . .</p>
            {{/if}}
        </div>
    </div>
</div>