{{> navbar }}

<div class="container cards">
    <h3 class="pt-4 pb-2">Food establishments near Taft</h3>
    <div class="dropdown mb-3">
        {{> sortFilter}}
    </div>
    {{!-- <div class="row gy-5"> --}}
        <ul class="row gy-5" id="id01" style="list-style-type: none;">
        {{#each establishments}}
            <li class="col-lg-3 {{this.rating}} {{this.tag1}} {{this.tag2}}" style="list-style-type: none;">
                {{!-- <div class="col-lg-3 {{this.rating}} {{this.tag1}} {{this.tag2}}"> --}}
                    <a class="{{this.rating}}" href="/{{this.displayedName}}">
                        <div class="content">
                            <div class="img-parent"><img src="{{this.profilePicture}}" alt=""></div>
                            <div class="mt-3">
                                <div class="d-flex justify-content-between">
                                    <span class="bold">{{this.displayedName}}</span>
                                    <div>
                                        <i class="fas fa-star me-2"></i><span class="regular">{{this.rating}}</span>
                                    </div>
                                </div>
                                <span class="subtext">{{this.tag1}}<br>{{this.tag2}}</span>
                            </div>
                        </div>
                    </a>
                {{!-- </div> --}}
            </li>
        {{/each}}
        </u>
    {{!-- </div> --}}
</div>
<footer>
</footer>
