{{> navbar }}

<section class="container mt-5">
    <div class="row">
        <div class="search-key-container container">
            <p class="h3 mt-0 mb-0">Searching for "{{key}}"</p>
        </div>
    </div>
    <hr>
</section>

<section id="store-section" class="container pl-2">
    <section class="row">
        <div class="container m-0 d-flex gap-2 align-items-center">
            <p class="h3 m-0">Establishment</p>

            <div class="dropdown m-0">
                <button id="star-filter-dropdown" class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{starFilter}}</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="" class="dropdown-item star-filter" type="button">No filter</a>
                    <a href="" class="dropdown-item star-filter" type="button">5 Stars</a>
                    <a href="" class="dropdown-item star-filter" type="button">4 Stars</a>
                    <a href="" class="dropdown-item star-filter" type="button">3 Stars</a>
                    <a href="" class="dropdown-item star-filter" type="button">2 Stars</a>
                    <a href="" class="dropdown-item star-filter" type="button">1 Star</a>
                </div>
            </div>

            <button id="store-toggle" type="button" class="btn btn-outline-dark btn-sm">Hide</button>
        </div>        
    </section>

    <section id="store-section-result">
        <ul class="list-unstyled m-0">
            {{#each establishments}}
                <li class="m-0 p-0">
                    <a href="/{{username}}" class="text-decoration-none">
                        <div class="row" >
                            <div class="card container d-flex flex-row m-2 p-0 gap-2">
                                <img class="result-image" src={{profilePicture}} alt="">
                                <div class="result-info d-flex flex-column">
                                    <p class="h3 m-0">{{displayedName}} <span class="fas fa-star me-1"></span>{{rating}} </p>
                                    <p class="smaller-text text-wrap m-0">{{description}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {{/each}}
        </ul>
    </section>
</section>

<section id="review-section" class="container pl-2">
    <section class="row">
        <div class="container m-0 d-flex gap-2 align-items-center">
            <p class="h3 m-0">Reviews</p>
            <button id="review-toggle" type="button" class="btn btn-outline-dark btn-sm">Hide</button>
        </div>
    </section>
    
    <section id="review-section-result" class="pt-0"> 
        <ul class="list-unstyled m-0">
            {{#each reviews}}
                <li>
                    <a href="/{{estabUsername}}#{{id}}" class="text-decoration-none text-dark">
                        <div class="row" >
                            <div class="card container d-flex flex-row m-2 p-0 gap-2">
                                <img class="result-image" src="{{user.profilePicture}}" alt="">
                                <div class="result-info d-flex flex-column">
                                    <p class="h3 m-0">{{title}}<span class="smaller-text"> by {{user.username}}</span></p>
                                    <p class="smaller-text text-wrap m-0">{{content}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {{/each}}
        </ul>
    </section>
</section>