<!--  comment section list of review-->
<!-- UL ID is for review // the reply will have a unique ID -->
<ul class=" comment list-group list-group-flush collapse">
    {{#each children}}
    <li class="REVIEW list-group-item" id="{{this._id}}" name="{{_id}}">
        <div class="user-profile  flex-center">
            <a href="/users/{{user.username}}" class="flex-center"><img class="pfpRev img-fluid"
                    src="/{{user.profilePicture}}" alt=""></a>
            <div class="postDeats">
                <a class="user-link" href="/users/{{user.username}}">{{user.username}}</a>
                <div class="status">{{formatDate datePosted}} {{#if edited}}• edited{{/if}}</div>
            </div>
        </div>
        <p class="reviewtext truncate card-text">
            {{content}}
        </p>
        <form enctype="multipart/form-data" method="post" class="edit-comment-form">
        <textarea name='text' class=" card-text yourRevEdit form-control mb-2" style="display: none;"></textarea>
        <div class="flex-center iconBox">
            <span class="chat chatbg "></span>
            <span class="cNum card-text">{{length children}}</span>
            <span class=" up {{#if (idIn  @root.user._id likes)}}upbgfill{{else}}upbg{{/if}}"> </span>
            <span class="uvote card-text">{{length likes}}</span>
            <span class=" down {{#if (idIn  @root.user._id dislikes)}}downbgfill{{else}}downbg{{/if}}"></span>
            <span class="dvote card-text">{{length dislikes}}</span>
            {{#if (cmpId @root.currentUser user._id)}}
            <span class="edit-reply editbg ms-3"></span>
            <span class="del-reply delbg"></span>
            <button type="submit" class="doneEdit btn btn-sm btn-outline-success ms-2" style="display: none;">done</button>    
            {{else}}
            <span class="reply replybg"></span>
            {{/if}}
        </div>
        </form>
        <div class="wReply card-footer collapse">
            <form class="herePo" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="c00001xctext" class="form-label writeReply">Write a
                        Reply</label>
                    <textarea class="form-control refly" required id="{{this._id}}text" name="text" rows="3"></textarea>
                    <button type="submit" class="postReply btn btn-success">Post</button>
                </div>
            </form>
        </div>

        <!-- reply comment section list -->
        {{> comment }}
        <ul class="comment list-group list-group-flush collapse"></ul>
    </li>
    {{/each}}
</ul>