{{#if isComment}}
<div class="card mb-3 REVIEW {{#if @root.isEstab}}estab{{/if}}" id="{{this._id}}">
    <div class="card-header reviewHeader flex-center">
        <div class="user-profile flex-center">
            {{#ifNotEquals postAnonymously "on"}}
            <a href="/users/{{user.username}}" class="flex-center"><img class="pfpRev img-fluid" src="/{{user.profilePicture}}"
                    alt=""></a>
            <div class="postDeats">
                <a class="user-link" href="/users/{{user.username}}">{{user.username}}</a>
                <div class=" status">{{formatDate datePosted}} {{#if edited}} • edited {{/if}} </div>
            </div>
            {{else}}
            <div class="postDeats">
                Anonymous User
                <div class=" status">{{formatDate datePosted}} {{#if edited}} • edited {{/if}} </div>
            </div>
            {{/ifNotEquals}}
        </div>
    </div>
    <div class="card-body reviewBody">
        <p class="reviewtext truncate card-text">
            {{content}}
        </p>
        <p class="fw-light fst-italic">Commented on: </p>
        {{#with review}}
        <div class="card REVIEW">
            <div class="card mb-3 REVIEW {{#if @root.isEstab}}estab{{/if}}" id="{{this._id}}">
                <div class="card-header reviewHeader flex-center">
                    <div class="user-profile flex-center">
                        <a href="/users/{{user.username}}" class="flex-center"><img class="pfpRev img-fluid"
                                src="/{{user.profilePicture}}" alt=""></a>
                        <div class="postDeats">
                            <a class="user-link" href="/users/{{user.username}}">{{user.username}}</a>
                            <div class=" status">{{formatDate datePosted}} {{#if edited}} • edited {{/if}} </div>
                        </div>
                    </div>
                    <div>
                        <h5 class="d-inline-block">
                            <span class="ratingz">{{rating}}.0</span>
                            <meter class="average-rating mang-inasal d-inline-block" min="0"
                                style="--percent: {{starr rating}}%" max="5"></meter>
                        </h5>
                    </div>
                </div>


            </div>
            <div class="card-body reviewBody">
                <h6 class="card-title reviewTitle">{{title}}</h6>
                <p class=" reviewtext truncate card-text">
                    {{content}}
                </p>

                <!-- media  -->
                {{#if nMedia}}
                {{> revMedia this}}
                {{/if}}

            </div>
        </div>
        {{/with}}
    </div>
</div>

{{else}}

<div class="card mb-3 REVIEW {{#if @root.isEstab}}estab{{/if}}" id="{{this._id}}">
    <!-- profile (req)-->
    <div class="card-header reviewHeader flex-center">
        <div class="user-profile flex-center">
            {{#ifNotEquals postAnonymously "on"}}
            <a href="{{user.link}}" class="flex-center"><img class="pfpRev img-fluid" src="{{user.profilePicture}}"
                    alt=""></a>
            <div class="postDeats">
                <a class="user-link" href="{{user.link}}">{{user.username}}</a>
                <div class=" status">{{formatDate datePosted}} {{#if edited}} • edited {{/if}} </div>


            </div>
            {{else}}
            <div class="postDeats">
                Anonymous User
                <div class=" status">{{formatDate datePosted}} {{#if edited}} • edited {{/if}} </div>
            </div>
            {{/ifNotEquals}}
        </div>

        <!-- review text (req)-->
        <div class="card-body reviewBody">
            <!-- UNIQUE ID PER REVIEW -->
            <h6 class="card-title reviewTitle">{{title}}</h6>
            <p class=" reviewtext truncate card-text">
                {{content}}
            </p>

            <!-- additional media  -->
            {{#if nMedia}}
            {{> revMedia this}}
            {{/if}}


    <!-- reply area (req)-->
    <div class=" wReply card-footer collapse">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="text" class="form-label writeReply">Write a Reply</label>
                <textarea class="form-control refly" required id="{{this._id}}text" name="text" rows="3"></textarea>
                <div class="d-flex justify-content-between">
                    <span class="d-flex align-items-center">
                        <label type="button" class="btn btn-sm btn-outline-secondary postAnonymously" data-bs-toggle="button">
                            <input type="checkbox" class="btn-check" name="postAnonymously"  autocomplete="off">
                            Post Anonymously
                        </label>
                    </span>
                    <button type="submit" class="{{#if @root.isEstab}}estab{{/if}} postReply btn btn-success">Post</button>
                </div>

            </div>
        </div>

        <!-- reply area (req)-->
        <div class=" wReply card-footer collapse">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="text" class="form-label writeReply">Write a Reply</label>
                    <textarea class="form-control refly" required id="{{this._id}}text" name="text" rows="3"></textarea>
                    <button type="submit" class="{{#if @root.isEstab}}estab{{/if}} postReply btn btn-success">Post</button>
                </div>
            </form>
        </div>

        <!-- establishment response (opt) -->
        {{#if estabResponse}}
        {{> EstabRespo estabResponse}}
        {{/if}}

        <!--  comment section list of review-->
        <!-- UL ID is for review // the reply will have a unique ID -->
        {{> comment }}
    </div>
{{/if}}